*{
    margin: 0;
}

.container{
    height: 100vh;
    display: grid;
    text-align: center;
    font-weight: 500;
    grid-template-rows: 80px 100px 1fr 60px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "H H"
    "L B"
    "L M"
    "F F";
}

.Header{
    background-color: pink;
    grid-area: H;
}

.Banner{
    background-color: yellow;
    grid-area: B;
}

.Main_Content{
    background-color: yellowgreen;
    grid-area: M;
}

.Left_Aside{
    background-color: orange;
    grid-area: L;
}

.Footer{
    background-color: skyblue;
    grid-area: F;
}

@media screen and (max-width: 768px) {
    .container{
        grid-template-rows: 50px 100px 1fr 100px 50px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "H H"
        "B B"
        "M M"
        "L L"
        "F F";
    }
    
}